.contacts-page {
  padding: 60px 0 100px;
  background-color: #fff;

  &__title {
    font-weight: 700;
    font-size: 40px;
    color: #474747;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__line {
    width: 100px;
    height: 3px;
    background-color: #1877F2;
    margin-bottom: 50px;
  }
}

.contacts-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: start;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.contacts-item {
  margin-bottom: 35px;

  &__caption {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #1877F2; // Синій акцент
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  &__text, &__link {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    color: #474747;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s ease;
  }

  &__link:hover {
    color: #1877F2;
  }
}

.contacts-map {
  border: 1px solid #eee;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  line-height: 0; // Прибирає мікро-відступ під iframe

  iframe {
    filter: grayscale(0.2); // Легкий фільтр, щоб мапа пасувала до дизайну
    transition: filter 0.3s ease;

    &:hover {
      filter: grayscale(0);
    }
  }
}



@media (max-width: 992px) {
  .contacts-page {
    padding: 60px 0 100px;
    background-color: #fff;
    margin-top: 180px;
  }
  .contacts-info{
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 576px){
  .contacts-info{
    display: block;
  }
}
